.about {
  background-color: $basic-blue;
  padding-top: 70px;
  padding-bottom: 84px;
}

.about__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
  width: 222px;
  margin: 0 auto;
}

.about__content {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  padding-top: 19px;
  width: 222px;
  margin: 0 auto;
}

.about__content br {
  display: none;
}

.about__content--accent {
  font-weight: bold;
  padding-top: 19px;
}

.about__button {
  display: none;
}

.about__br {
  display: none;
}

// Что случилось с "-"?

@media (min-width: 768px) {
  .about {
    padding-left: 0;
    padding-right: 420px;
    padding-top: 132px;
    padding-bottom: 90px;
  }

  .about__heading {
    font-size: 45px;
    line-height: 45px;
    width: 197px;
  }

  .about__content {
    font-size: 28px;
    line-height: 33px;
    width: 320px;
    display: block;
    padding-left: 120px;
    padding-top: 42px;
  }

  .about__content br {
    display: none;
  }

  .about__content--accent {
    width: 300px;
    padding-left: 100px;
    font-size: 21px;
    line-height: 25px;
    padding-top: 31px;
  }

  .about__button {
    display: block;
    text-decoration: none;
    border-radius: 20px;
    background-color: $basic-yellow;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: $basic-blue-light;
    width: 243px;
    min-height: 52px;
    padding-top: 28px;
    padding-left: 33px;
    margin-top: 53px;
    margin-left: 284px;
  }
}

@media (min-width: 1400px) {
  .about {
    padding-top: 252px;
    padding-bottom: 165px;
    padding-right: 510px;
  }

  .about__heading {
    padding-right: 470px;
  }

  .about__content {
    width: 619px;
    padding-top: 58px;
    margin: 0;
    padding-left: 358px;
  }

  .about__content--accent {
    width: 425px;
    padding-top: 40px;
  }

  .about__button {
    margin-top: 85px;
    margin-left: 358px;
  }

  .about br {
    display: none;
  }

  .about__br {
    display: inline;
  }
}
