.about__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
}

.about__content {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.about__content--accent {
  font-weight: bold;
}
