.add-profile {
  background-color: $extra-white;
  padding-top: 30px;
  width: 219px;
  margin: 0 auto;
}

.add-profile__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
  width: 107px;
}

.add-profile__show-business {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $extra-blue;
  text-decoration: none;
  display: block;
  margin-top: 44px;
}

@media (min-width: 768px) {
  .add-profile {
    width: 738px;
    padding-left: 0;
    padding-right: 0;
  }

  .add-profile__heading {
    font-size: 45px;
    line-height: 45px;
    width: 482px;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 4px;
  }

  .add-profile__tariff-list {
    margin: 0 auto;
  }

  .add-profile__show-business {
    width: 274px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 75px;
    margin-left: 114px;
    position: relative;
  }

  .add-profile__show-business::before {
    content: "";
    width: 68px;
    height: 68px;
    position: absolute;
    border-radius: 50%;
    background-color: $extra-grey;
    top: -20px;
    left: -90px;
  }
}

@media (min-width: 1400px) {
  .add-profile {
    width: 1400px;
  }

  .add-profile__heading {
    width: 502px;
    padding-left: 28px;
    padding-top: 32px;
  }

  .add-profile__show-business {
    margin-left: 200px;
  }
}
