.add-profile {
  background-color: $extra-white;
  padding-top: 53px;
  padding-left: 29px;
  padding-right: 25px;
  margin: 0 auto;
}

.add-profile__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
}

.add-profile__show-business {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $extra-blue;
  text-decoration: none;
}

@media (min-width: 768px) {
  .add-profile {
    width: 688px;
  }
}

@media (min-width: 1400px) {
  .add-profile {
    width: 750px;
  }
}
