.companions-list {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 768px) {
  .companions-list {
    width: 654px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  .companions-list {
    width: 630px;
    grid-column: 2/3;
    grid-row: 1/4;
    margin: 0 auto;
  }
}
