.companions-list {
  list-style: none;
  padding: 0;
  width: 270px;
  margin: 0 auto;
  margin-top: 70px;
}

@media (min-width: 768px) {
  .companions-list {
    width: 654px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
  }
}

@media (min-width: 1400px) {
  .companions-list {
    width: 664px;
    grid-column: 2/3;
    grid-row: 2/5;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: -28px;
    margin-left: -2px;
  }
}
