.companions {
  background-color: $basic-blue;
  padding-top: 66px;
  padding-bottom: 32px;
  padding-left: 49px;
  padding-right: 49px;
}

.companions__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
  width: 220px;
  margin: 0 auto;
}

.companions__about {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  padding-top: 19px;
  width: 220px;
  margin: 0 auto;
}

.companions__about br {
  display: none;
}

.companions__about--accent {
  font-weight: bold;
  padding-top: 20px;
}

.companions__show-all {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue-light;
  background-color: $basic-yellow;
  border-radius: 10px;
  display: block;
  width: 270px;
  min-height: 61px;
  margin: 0 auto;
  margin-top: -12px;
  box-sizing: border-box;
  padding-top: 21px;
  padding-left: 23px;
}


@media (min-width: 768px) {
  .companions {
    display: grid;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    padding-bottom: 87px;
  }

  .companions__heading {
    font-size: 45px;
    line-height: 45px;
    padding-right: 400px;
    padding-top: 72px;
  }

  .companions__about {
    font-size: 28px;
    line-height: 34px;
    width: 427px;
    padding-right: 190px;
    padding-top: 56px;
  }

  .companions__about br {
    display: inline;
  }

  .companions__about--accent {
    font-size: 21px;
    line-height: 24px;
    padding-right: 190px;
    padding-top: 40px;
  }

  .companions__show-all {
    margin-top: 128px;
    width: 616px;
    min-height: 80px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
    padding-top: 26px;
    padding-left: 32px;
  }
}

@media (min-width: 1400px) {
  .companions {
    grid-template-columns: 770px 616px;
    padding-top: 0;
    padding-bottom: 135px;
    column-gap: 14px;
  }

  .companions__heading {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-top: 125px;
    padding-left: 155px;
  }

  .companions__about {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0;
    padding-top: 55px;
    padding-left: 155px;
  }

  .companions__about--accent {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0;
    padding-top: 39px;
    padding-left: 155px;
  }

  .companions__show-all {
    grid-row: 4/5;
    grid-column: 1/2;
    width: 280px;
    min-height: 80px;
    margin-top: 88px;
    margin-left: 158px;
  }
}
