.companions {
  background-color: $basic-blue;
  padding-top: 68px;
  padding-left: 49px;
  padding-right: 49px;
}

.companions__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
}

.companions__about {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  margin-top: 19px;
}

.companions__about--accent {
  font-weight: bold;
  margin-top: 25px;
}

.companions__show-all {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue-light;
  margin-top: 20px;
}

@media (min-width: 1400px) {
  .companions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .companions__heading {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .companions__about {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .companions__about--accent {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
