.country-filter {
  font-weight: bold;
  font-size: 16px;
}

.country-filter__heading {
  line-height: 18px;
  text-transform: uppercase;
  color: $low-black;
}

.country-filter__close {
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $low-black;
}

@media (min-width: 768px) {
  .country-filter__heading {
    display: none;
  }

  .country-filter {
    display: grid;
    grid-template-columns: 368px 156px;
    grid-template-rows: 20px 380px 100px;
  }

  .country-filter__close {
    grid-row: 3/4;
    grid-column: 1/3;
  }
}

@media (min-width: 1400px) {
  .country-filter__heading {
    display: none;
  }

  .country-filter {
    display: grid;
    grid-template-columns: 1101px;
    grid-template-rows: 20px 1fr 100px;
    width: 1101px;
    margin: 0 auto;
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .country-filter__close {
    grid-column: 1/2;
  }
}
