.countries-list__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
}

.countries-list {
  list-style: none;
  padding: 0;
}

.countries-list:not(.countries-list--tablet) {
  display: none;
}

@media (min-width: 768px) {

  .countries-list--tablet {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

@media (min-width: 1400px) {

  .countries-list:not(.countries-list--tablet) {
    display: contents;
  }
}
