.directions {
  list-style: none;
  background-color: $extra-white;
  padding-top: 71px;
  padding-left: 49px;
  padding-right: 49px;
}

.directions__heading {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
  width: 269px;
}

.directions__about {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  margin-top: 19px;
  width: 216px;
}

@media (min-width: 768px) {
  .directions {
    padding-left: 0;
    padding-right: 0;
    display: grid;
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  .directions {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 6fr 6fr
  }

  .directions__heading {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .directions__about {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
