.interested {
  padding-left: 52px;
  padding-right: 52px;
}

.insterested__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
}

.interested__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $white;
}

.interested__link {
  color: $basic-yellow;
  text-decoration: underline;
}
