.interested {
  padding-left: 52px;
  padding-right: 52px;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.insterested__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
}

.interested__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $white;
  width: 216px;
  margin: 0 auto;
}

.interested__link {
  color: $basic-yellow;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .interested {
    width: 638px;
  }

  .interested__text {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .interested {
    width: 1180px;
  }
}
