.main-footer__logo {
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    justify-content: center;
  }

  .main-footer__logo {
    margin: auto 0;
    margin-left: auto;
    padding-left: 130px;
    padding-right: 42px;
  }
}
