.map {
  font-weight: bold;
}

.map__address {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $basic-blue-light;
}

.map__find {
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue-light;
}
