.page-header__auth {
  display: none;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue;
  padding-left: 29px;
  padding-right: 28px;
  padding-top: 16px;
  padding-bottom: 14px;
  background-color: $basic-yellow;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.page-header__logo {
  height: 10px;
}

.page-header__burger-menu {
  display: none;
}

.page-header__heading {
  color: $special-orange;
}

@media (min-width: 768px) {
  .page-header {
    display: grid;
    grid-template-columns: 200px 100px 150px 188px;
    justify-content: center;
    background-color: $header-color;
  }

  .page-header__logo {
    margin: 0 auto;
  }

  .page-header__auth {
    display: block;
    grid-row: 1/2;
    grid-column: 4/5;
  }

  .page-header__burger-menu {
    grid-row: 1/2;
    grid-column: 4/5;
  }
}

@media (min-width: 1400px) {
  .page-header {
    grid-template-columns: 200px 790px 150px 188px;
    justify-content: center;
    padding-left: 0;
    margin-left: -2px;
  }

  .page-header__burger-menu {
    display: none;
  }

  .page-header__auth {
    margin-top: 20px;
  }
}
