.plan__direction {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $basic-blue-light;
}

.plan__companions-count {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $basic-blue-light;
}

.plan__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $basic-blue-light;
}

.plan__edit {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $zero-black;
  opacity: 0.3;
}
