.popup-letters__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue-light;
  padding-right: 25px;
}

.popup-letters__item--selected {
  background-color: $extra-white;
}

.popup-letters {
  list-style: none;
  display: flex;
  width: 185px;
  flex-wrap: wrap;
}
