.profile-level__level-count {
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: $basic-blue;
}

.profile-level__level-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $special-grey;
}

.profile-level {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: auto;
}
