.promo-buttons {
  width: 270px;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  margin-top: 248px;
  margin-left: auto;
  margin-right: auto;
}

// Template

.promo-buttons__phone,
.promo-buttons__mail,
.promo-buttons__auth {
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
}

.promo-buttons__phone {
  background-color: $special-orange;
}

.promo-buttons__mail {
  background-color: $special-yellow-dark;
}

.promo-buttons__auth {
  background-color: $basic-yellow;
  width: 190px;
  border-radius: 25px;
  font-weight: bold;
  // Фигма говорит 17px - размер шрифта. Но это совсем не так
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 32px;
  padding-top: 11px;
  box-sizing: border-box;
}

// End Template

@media (min-width: 768px) {
  .promo-buttons {
    display: none;
  }
}
