.promo {
  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-color: $basic-blue;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.promo__phrase {
  width: 238px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: $white;
  text-align: center;
}

@media (min-width: 768px) {
  .promo__phrase {
    font-size: 60px;
    line-height: 70px;
    width: 399px;
  }
}

@media (min-width: 1400px) {
  .promo {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 515px 805px;
    justify-content: center;
    padding-top: 93px;
    padding-right: 92px;
  }

  .promo__phrase {
    grid-row: 1/2;
    grid-column: 1/2;
    display: block;
    margin-right: 0;
    margin-left: auto;
    text-align: left;
    margin-top: 14px;
  }
}
