.promo-guide {
  list-style: none;
  padding: 0;
  padding-top: 15px;
  width: 270px;
  margin: 0 auto;
  counter-reset: guide;
}

.promo-guide__step {
  border-radius: 10px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue;
  padding-top: 20px;
  padding-bottom: 38px;
  padding-left: 24px;
  padding-right: 80px;
  background-color: $basic-yellow;
}

.promo-guide__step::after {
  content: counter(guide);
  counter-increment: guide;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  position: absolute;
  top: 20px;
  right: 20px;
}

.promo-guide__step:last-of-type {
  padding-bottom: 22px;
}

.promo-guide__step:not(:first-of-type) {
  margin-top: -14px;
}

// Таким методом переполняется нормально

.promo-guide__step:nth-child(4n-3) {
  background-color: $special-orange;
}

.promo-guide__step:nth-child(4n-2) {
  background-color: $extra-orange;
}

.promo-guide__step:nth-child(4n-1) {
  background-color: $special-yellow-dark;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .promo-guide {
    width: 688px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 196px;
  }

  .promo-guide__step {
    padding-bottom: 3px;
    border-radius: 0;
    font-size: 24px;
    line-height: 24px;
    padding-top: 29px;
    padding-left: 33px;
    width: 232px;
  }

  .promo-guide__step:not(:first-of-type) {
    margin-top: 0;
  }

  .promo-guide__step:nth-child(1) {
    border-top-left-radius: 20px;
  }

  .promo-guide__step:nth-child(2) {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .promo-guide__step:nth-child(2n) {
    margin-left: -20px;
  }

  .promo-guide__step:not(:nth-child(2n)) {
    width: 250px;
  }

  .promo-guide__step:nth-last-child(1) {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .promo-guide__step:nth-last-child(2) {
    border-bottom-left-radius: 20px;
  }

  .promo-guide__step:last-of-type {
    padding-bottom: 0;
  }

  .promo-guide__step::after {
    font-size: 30px;
    line-height: 30px;
    position: static;
    display: block;
    padding-top: 10px;
    padding-bottom: 21px;
  }
}

@media (min-width: 1400px) {
  .promo-guide {
    width: 1320px;
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-row: 2/3;
    grid-column: 1/4;
    padding-top: 0;
    margin-top: 105px;
  }

  .promo-guide__step {
    width: 250px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
    padding-top: 28px;
    padding-left: 33px;
    padding-bottom: 32px;
  }

  .promo-guide__step:not(:first-of-type) {
    margin-top: 0;
  }

  .promo-guide__step:not(:nth-child(4n + 1)) {
    margin-left: -50px;
  }

  .promo-guide__step:nth-child(3n) {
    margin-left: -19px;
  }

  .promo-guide__step:nth-child(4n) {
    width: 203px;
    margin-left: -21px;
  }

  .promo-guide__step:not(:last-of-type) {
    border-radius: 20px 0 0 20px;
  }

  .promo-guide__step:nth-child(4n - 3) {
    padding-left: 35px;
    width: 250px;
  }

  .promo-guide__step::after {
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    right: 50px;
    top: 27px;
  }

  .promo-guide__step:nth-child(4n - 3)::after {
    right: 85px;
  }

  .promo-guide__step:nth-child(4n)::after {
    right: 30px;
  }
}
