.promo-companion {
  position: relative;
  width: 270px;
  min-height: 428px;
}

.promo-companion__content {
  width: 270px;
  min-height: 158px;
  background-color: $white;
}

.promo-companion:not(:first-of-type) {
  margin-top: 27px;
}

.promo-companion__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: $basic-blue-light;
  padding-top: 243px;
  margin: 0 auto;
  display: block;
  max-width: 132px;
}

.promo-companion__tags {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $special-grey;
  margin: 0;
  display: block;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .promo-companion__name {
    font-size: 24px;
    line-height: 22px;
    padding-top: 268px;
    max-width: 150px;
  }

  .promo-companion__tags {
    font-size: 20px;
    line-height: 23px;
    width: 223px;
    padding-top: 24px;
    padding-left: 30px;
  }

  .promo-companion__tags br {
    display: none;
  }

  .promo-companion__content {
    width: 270px;
    min-height: 198px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .promo-companion:nth-of-type(2n + 2) {
    margin-right: 48px;
  }

  .promo-companion:not(:first-of-type) {
    margin-top: 0;
  }
}

@media (min-width: 1400px) {
  .promo-companion {
    padding-top: 0;
  }
}
