.social-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 135px;
  margin: 0 auto;
  padding-left: 14px;
  margin-top: 38px;
}

.social-list__link {
  display: block;
  width: 45px;
  height: 44px;
  background-color: $basic-yellow;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .social-list {
    width: 186px;
    padding-left: 0;
    margin-top: 32px;
  }

  .social-list__item {
    width: 62px;
    height: 62px;
  }
}
