.tariff {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
}

.tariff__service {
  color: $special-grey;
  max-width: 400px;
}

.tariff__price {
  color: $special-grey;
  margin-top: 6px;
  max-width: 200px;
}

// Если поставить ширину меньше, то цена делает прокрутку
@media (min-width: 900px) {
  .tariff {
    width: 814px;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .tariff__price {
    display: block;
  }
}
