.tariff-list {
  list-style: none;
  padding: 0;
  padding-top: 23px;
  counter-reset: tariff;
  padding-bottom: 15px;
  border-bottom: 1px solid $special-light-grey;
  position: relative;
}

@media (min-width: 768px) {
  .tariff-list {
    margin-top: 55px;
    margin-left: 68px;
  }

  .tariff-list::after {
    width: 561px;
    bottom: -21px;
  }

  .tariff-list::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 198px;
    height: 285px;
    right: 25px;
    top: -20px;
    border-radius: 20px;
    background-color: $extra-grey;
  }
}

@media (min-width: 1400px) {
  .tariff-list {
    width: 813px;
    margin-left: 200px;
    padding-top: 99px;
  }

  .tariff-list::before {
    width: 446px;
    height: 300px;
    right: -162px;
    top: 30px;
    border-radius: 20px;
  }
}
