.users {
  list-style: none;
  margin: 0 auto;
}

.users__show-more {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-blue-light;
}

@media (min-width: 768px) {
  .users {
    width: 688px;
  }
}

@media (min-width: 1400px) {
  .users {
    width: 949px;
  }
}
