.users-filter-form__heading {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $basic-blue-light;
}

.users-filter-form__show {
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .users-filter-form__lists {
    display: flex;
    flex-wrap: wrap;
    width: 570px;
  }
}

@media (min-width: 1400px) {
  .users-filter-form {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
