.users {
  list-style: none;
  margin: 0 auto;
  width: 270px;
}

.users__show-more {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-blue-light;
  text-decoration: none;
  display: block;
  padding-left: 32px;
  padding-top: 1px;
  text-align: center;
}

@media (min-width: 768px) {
  .users {
    width: 688px;
  }
}

@media (min-width: 1400px) {
  .users {
    width: 949px;
    margin-top: 6px;
  }
}
