.user {
  font-weight: bold;
}

.user__name {
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
}

.user__like {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-blue;
  margin-top: 9px;
}

.user__tags {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $special-grey;
  margin-top: 13px;
}

.user__invite {
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue;
  margin-top: 13px;
}
