.want-visit__heading {
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $special-grey;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .want-visit__list {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  .want-visit__heading {
    display: none;
  }
}
