.want-visit {
  border-top: 1px solid $extra-white;
  margin-top: 22px;
}

.want-visit__heading {
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $special-grey;
  background: $white;
  margin-top: -10px;
  width: 96px;
  margin-left: 15px;
  padding-left: 11px;
  padding-right: 10px;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .want-visit__list {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  .want-visit__heading {
    display: none;
  }
}
